In my modules file, I am importing one module.
-analysis_functions.py
    -analysis_functions.py has 5 functions in it
        -filter_dataset
        -find_PRA
        -plot_stat
        -filter_by_season
        -all_player_stat_comparison